@import url('https://fonts.cdnfonts.com/css/dm-sans');
@import url('https://fonts.cdnfonts.com/css/inter');

* {
    margin: 0;
    padding: 0;
}

.menu {
    width: 24px;
    height: 24px;
}


.headerPrincipal .titulo {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin: 20px;
    padding-bottom: 4%;
}

.paginaMobile1 {
    text-align: center;
    background-image: url(/css/Images/wallpaperPg1.png);
}

.paginaMobile1 .tituloPg1 {
    font-size: 33px;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 6%;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
}


.pattren {
    text-align: end;
    padding-right: 1%;
}

.paginaMobile1 .textoPg1 {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    color: #757B8A;
    margin-bottom: 5%;
    margin-left: 20px;
    margin-right: 20px;
}

.emailArea {
    background-color: #F3F4F8;
    font-family: 'Inter', sans-serif;
    color: #757B8A;
    padding: 1.5em;
    padding-left: 26px;
    border-radius: 60px;
    margin-bottom: 1em;
    margin-top: 1em;
    max-width: 100%;
    text-align: left;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.emailArea h3 {
    font-weight: normal;
}

.startArea {
    background-color: #243D31;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    padding: 1.4em;
    padding-left: 26px;
    border-radius: 60px;
    margin-right: 12.7%;
    margin-left: 12.7%;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
    font-size: 15px;
}

.paginaMobile1 .dashboard {
    text-align: center;
    padding: 0;
    margin: 0;
}

.paginaMobile2 {
    background-color: #243D31;
    padding-top: 14%;
    padding-bottom: 15%;
}

.productOverview {
    background-color: #E7FFD8;
    font-family: 'DM Sans', sans-serif;
    color: #24AA4A;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10px;
    border-radius: 20px;
    margin-right: 59%;
    margin-left: 10%;
    margin-bottom: 2em;
    margin-top: 1em;
    font-size: 6.5px;
    font-weight: bold;
}

.paginaMobile2 .tituloPg2 {
    font-size: 33px;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 5%;
    margin-right: 20%;
    margin-left: 10%;
    margin-top: 0;
    color: #ffffff;
}

.paginaMobile2 .textoPg2 {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #E6E9ED;
    margin-bottom: 5%;
    margin-right: 12.7%;
    margin-left: 10%;
}

.estatisticas {
    padding-top: 1.5em;
    color: #ffffff;
    display: flex;
    text-align: left;
    justify-content: space-between;
    margin-right: 12.7%;
    margin-left: 10%;
    font-family: 'DM Sans', sans-serif;
}

.estatisticas .titulosEst {
    font-size: 32px;
    font-weight: bold;
}

.estatisticas .textoEst {
    font-size: 14px;
    font-weight: 500;
}

.paginaMobile3 .empresasPg3 {
    padding-top: 12%;
    padding-bottom: 12%;
}

.paginaMobile3 .empresas1 {
    text-align: center;
}

.paginaMobile3 .empresas2 {
    text-align: center;
}


.paginaMobile4 .imagemPg4 {
    text-align: center;
    position: relative;
}

.paginaMobile4 .imagemEquipePg4 {
    text-align: center;
    position: absolute;
    top: 70%;
    right: 2%;
}

.expertTeam {
    background-color: #E7FFD8;
    font-family: 'DM Sans', sans-serif;
    color: #24AA4A;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10px;
    border-radius: 20px;
    margin-right: 55.7%;
    margin-left: 7%;
    margin-bottom: 2em;
    margin-top: 9em;
    font-size: 7.5px;
    font-weight: bold;
}

.paginaMobile4 .tituloPg4 {
    font-size: 33px;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 10%;
    margin-right: 20%;
    margin-left: 7%;
    margin-top: 0;
    color: #000000;
}

.paginaMobile4 .textoPg4 {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #101010;
    margin-bottom: 5%;
    margin-right: 1%;
    margin-left: 7%;
}

.paginaMobile4 .texto2Pg4 {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #757B8A;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 7%;
}

.amanzingAnalisys {
    background-color: #E7FFD8;
    font-family: 'DM Sans', sans-serif;
    color: #24AA4A;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10px;
    border-radius: 20px;
    margin-right: 55%;
    margin-left: 7%;
    margin-bottom: 2em;
    margin-top: 13em;
    font-size: 8.5px;
    font-weight: bold;
}

.paginaMobile5 .tituloPg5 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 4%;
    margin-right: 20%;
    margin-left: 7%;
    margin-top: 0;
    color: #000000;
}

.paginaMobile5 .textoPg5 {
    font-size: 17px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #757B8A;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 7%;
}

.paginaMobile5 .imagemKcalPg5 {
    text-align: center;
    padding-top: 5%;
}

.paginaMobile5 .textoImagemPg5 {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-left: 6.5%;
    margin-top: 4%;
    text-align: left;
}

.paginaMobile5 .learnMoreArea {
    border: #EDEDED, 1px, solid;
    border-radius: 60px;
    margin-top: 8%;
    margin-left: 7%;
    margin-right: 45%;
    padding-left: 7%;
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    font-size: 11.5px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: #31543B;
    align-items: center; 
    justify-content: space-between;
}

.paginaMobile5 .setaLearnMore {
    padding-right: 15%;
}

.paginaMobile5 .imagemInflowPg5 {
    text-align: center;
    padding-top: 11%;
}

.paginaMobile5 .textoImagemInflowPg5 {
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-left: 6.5%;
    margin-top: 4%;
    text-align: left;
}

.paginaMobile6 .tituloPg6 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 4%;
    margin-right: 20%;
    margin-left: 7%;
    margin-top: 25%;
    color: #000000;
}

.paginaMobile6 .textoPg6 {
    font-size: 16.3px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: #757B8A;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 7%;
}

.paginaMobile6 .imagemGraficoPg6 {
    padding-top: 4%;
}